$base_font_sans: '游ゴシック', YuGothic, 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', sans-serif;
$base_font_serif: 'Hiragino Mincho ProN W3', 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', '游明朝', YuMincho, 'HG明朝E', 'ＭＳ Ｐ明朝', 'ＭＳ 明朝', serif;

$base_font_size_pc: 1.4rem;
$base_font_size_sp: 1.4rem;
$base_line_height_pc: 1.75;
$base_line_height_sp: 1.7;

$font_color: #000;
$link_color: #000;
$link_color_hover: #989898;
$hover_opacity: 0.7;
